.navigation.component * {
    padding: 0;
    margin: 0;
}

div.navigation.component {
    width: 100%;
    height : 3em;
    clear : both;
}

.navigation.component ul {
    list-style: none;
}

.navigation.component li a {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: x-large;

    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}