<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-7p : [%-40c{3}] %m%n"/>
        </layout>
    </appender>

    <category name="org.apache.commons">
        <priority value="warn"/>
    </category>

    <category name="org.selenium">
        <priority value="warn"/>
    </category>

    <category name="com.gargoylesoftware">
        <priority value="warn"/>
    </category>

    <category name="httpclient.wire.content">
        <priority value="warn"/>
    </category>

    <!-- Turn this on if you want to debug what is coming back from HttpClient -->
    <category name="httpclient.wire.header">
        <priority value="warn"/>
    </category>

    <root>
        <priority value="debug"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>


</log4j:configuration>
