body {
    font-family: Verdana, serif;
    text-align: center;
}

#page {
    text-align: left;
}

#header {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 8em;
}

#footer {
    width: 100%;
    height: 2em;
}
